*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    
}
.card-text{
    margin-top: -75px;
    
    font-size: 35px;
    font-weight: bold;

}

.card-title{
    text-decoration: underline;
    font-size: 35px;
    color: darkblue;
}

.card-footer{
    color: darkblue;
    
}

.container1{
    overflow: auto;
    margin-top: 800px;
    margin-left: 280px;
}

.card{
    float: left;
}

.col-2{
    background: -webkit-gradient(red,blue,green,yellow,black);


}

.ww{
    margin-left: 60px;
}

.mm{
    margin-left: 60px;
}

.bb{
    margin-left: 60px;
}

.card-text1{
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.i1{
    color: yellow;
}

.container2{
  margin-left: 280px;
  margin-top: 20px;
}


.bbb{
    margin-left: 60px;
}

.col-12{
    
    margin-top: 500px;
}



.col-text9{
    margin-left: 200px;
    margin-top: -60px;
}


.container .card-s{
    width: 800px;
    
    
}

.text-title{
    background-image: linear-gradient(green, red, blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-body{
    font-weight: bold;
    animation-name: sadeek;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes sadeek{

    0%{
        background-image: linear-gradient(green, red, blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    }
    50%{
        background-image: linear-gradient(blue, green, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    }
100%{
    background-image: linear-gradient(yellow, blue, red,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

}